{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="left-nav col-2">
                {% block sidebar %}
                    <div class="card">
                        <div class="card-title">
                            Content
                        </div>
                        <div class="card-body collection">
                            <ul class="collection-item">
                                {% for type, _ in Types %}
                                    <li>
                                        <a href="/admin/contents?type={{ type }}">
                                            <i class="tiny left material-icons">playlist_add</i>{{ type }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            System
                        </div>
                        <div class="card-body collection">
                            <ul class="collection-item">
                                <li>
                                    <a href="/admin/configure">
                                        <i class="tiny left material-icons">settings</i>Configuration
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/configure/users">
                                        <i class="tiny left material-icons">supervisor_account</i>Admin Users
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/uploads">
                                        <i class="tiny left material-icons">swap_vert</i>Uploads
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/addons">
                                        <i class="tiny left material-icons">settings_input_svideo</i>Addons
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endblock %}
            </div>
            {% block content %}
                <div class="subview col-10">
                    {% block sub_content %}{{ Subview }}{% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}