<footer class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 text-start">
            <p class="center-left">
                Powered by &copy; <a target="_blank" href="https://ponzu-cms.org">Ponzu</a> &nbsp;&vert;&nbsp;
                open-sourced by <a target="_blank" href="https://www.bosssauce.it">Boss Sauce Creative</a>
            </p>
        </div>
        <div class="col-12 col-md-6 text-end">
            <p class="center-right">
                maintenance by <a target="_blank" href="https://www.bosssauce.it">Monstrum</a>
            </p>
        </div>
    </div>
</footer>